<!-- Modal -->
<!-- Chat Modal -->
<div class="modal fade exampleModal incomingchatmodal allmodaldesign" id="viewchat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p>
                    <i class="bx bx-world text-success"></i>
                    <small>Visitor Paritosh Mishra from Facebook</small>
                </p>
                <button type="button" class="close modalclose viewchat" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <button type="button" class="modalminimize">
                    <span aria-hidden="true">&minus;</span>
                </button>
                <button type="button" class="modaltransfer">
                    <span aria-hidden="true"><i class="bx bx-transfer-alt"></i></span>
                </button>
            </div>
            <div class="modal-body p-2 modalchatbody">
                <div class="row">
                    <!-- Left -->
                    <div class="col-md-9">
                        <div class="modalchattextarea">
                            <!-- Modal Chat -->
                            <div class="modalcustomerchat p-2 bg-white my-shadow">
                                <ul class="list-group" data-simplebar="init" style="max-height: 300px;">
                                    <div class="simplebar-wrapper" style="margin: 0px;">
                                        <div class="simplebar-height-auto-observer-wrapper">
                                            <div class="simplebar-height-auto-observer"></div>
                                        </div>
                                        <div class="simplebar-mask">
                                            <div class="simplebar-offset" style="right: -16.8px; bottom: 0px;">
                                                <div class="simplebar-content-wrapper" style="height: auto; overflow: hidden scroll;">
                                                    <div class="simplebar-content" style="padding: 0px;">
                                                        <a href="#">
                                                            <li class="list-group-item p-2">
                                                                <div class="media">
                                                                    <div class="avatar-xs mr-2">
                                                                        <span class="rounded-circle">
                                                                            <img src="~/Areas/Chat/assets/images/users/avatar-1.jpg" class="modalchatprofile shadow-sm" alt="Customer Profile">
                                                                        </span>
                                                                    </div>
                                                                    <div class="media-body">
                                                                        <h5 class="font-size-14">Paritosh Mishra</h5>
                                                                        <p class="text-black m-0 modalchatmessage">
                                                                            If several languages coalesce, the grammar of the resulting language.
                                                                        </p>
                                                                        <small class="text-muted mb-0 float-right modalchattimedate" style="font-size: 11px;">
                                                                            <span><i class="bx bx-calendar text-blue"></i></span>
                                                                            <span class="chattimedate">16-07-2020</span>
                                                                            <span>04:46 AM</span>
                                                                        </small>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </a>
                                                        <p class="text-muted mb-0 text-center font-italic" style="font-size: 10px; border-left: 1px solid #eff2f7; border-right: 1px solid #eff2f7;">
                                                            Parithosh open the chat form incoming messages
                                                        </p>
                                                        <a href="#">
                                                            <li class="list-group-item p-2">
                                                                <div class="media">
                                                                    <div class="avatar-xs mr-2">
                                                                        <span class="rounded-circle">
                                                                            <img src="~/Areas/Chat/assets/images/users/avatar-1.jpg" class="modalchatprofile shadow-sm" alt="Customer Profile">
                                                                        </span>
                                                                    </div>
                                                                    <div class="media-body">
                                                                        <h5 class="font-size-14">Paritosh Mishra</h5>
                                                                        <p class="text-black m-0 modalchatmessage">
                                                                            If several languages coalesce, the grammar of the resulting language.
                                                                        </p>
                                                                        <small class="text-muted mb-0 float-right modalchattimedate" style="font-size: 11px;">
                                                                            <span><i class="bx bx-calendar text-blue"></i></span>
                                                                            <span class="chattimedate">16-07-2020</span>
                                                                            <span>04:46 AM</span>
                                                                        </small>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </a>
                                                        <p class="text-muted mb-0 text-center font-italic" style="font-size: 10px; border-left: 1px solid #eff2f7; border-right: 1px solid #eff2f7;">
                                                            Parithosh open the chat form incoming messages
                                                        </p>
                                                        <a href="#">
                                                            <li class="list-group-item p-2">
                                                                <div class="media">
                                                                    <div class="avatar-xs mr-2">
                                                                        <span class="rounded-circle">
                                                                            <img src="~/Areas/Chat/assets/images/users/avatar-1.jpg" class="modalchatprofile shadow-sm" alt="Customer Profile">
                                                                        </span>
                                                                    </div>
                                                                    <div class="media-body">
                                                                        <h5 class="font-size-14">Paritosh Mishra</h5>
                                                                        <p class="text-black m-0 modalchatmessage">
                                                                            If several languages coalesce, the grammar of the resulting language.
                                                                        </p>
                                                                        <small class="text-muted mb-0 float-right modalchattimedate" style="font-size: 11px;">
                                                                            <span><i class="bx bx-calendar text-blue"></i></span>
                                                                            <span class="chattimedate">16-07-2020</span>
                                                                            <span>04:46 AM</span>
                                                                        </small>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </a>
                                                        <p class="text-muted mb-0 text-center font-italic" style="font-size: 10px; border-left: 1px solid #eff2f7; border-right: 1px solid #eff2f7;">
                                                            Parithosh open the chat form incoming messages
                                                        </p>
                                                        <a href="#">
                                                            <li class="list-group-item p-2">
                                                                <div class="media">
                                                                    <div class="avatar-xs mr-2">
                                                                        <span class="rounded-circle">
                                                                            <img src="~/Areas/Chat/assets/images/users/avatar-1.jpg" class="modalchatprofile shadow-sm" alt="Customer Profile">
                                                                        </span>
                                                                    </div>
                                                                    <div class="media-body">
                                                                        <h5 class="font-size-14">Paritosh Mishra</h5>
                                                                        <p class="text-black m-0 modalchatmessage">
                                                                            If several languages coalesce, the grammar of the resulting language.
                                                                        </p>
                                                                        <small class="text-muted mb-0 float-right modalchattimedate" style="font-size: 11px;">
                                                                            <span><i class="bx bx-calendar text-blue"></i></span>
                                                                            <span class="chattimedate">16-07-2020</span>
                                                                            <span>04:46 AM</span>
                                                                        </small>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </a>
                                                        <p class="text-muted mb-0 text-center font-italic" style="font-size: 10px; border-left: 1px solid #eff2f7; border-right: 1px solid #eff2f7;">
                                                            Parithosh open the chat form incoming messages
                                                        </p>
                                                        <a href="#">
                                                            <li class="list-group-item p-2">
                                                                <div class="media">
                                                                    <div class="avatar-xs mr-2">
                                                                        <span class="rounded-circle">
                                                                            <img src="~/Areas/Chat/assets/images/users/avatar-1.jpg" class="modalchatprofile shadow-sm" alt="Customer Profile">
                                                                        </span>
                                                                    </div>
                                                                    <div class="media-body">
                                                                        <h5 class="font-size-14">Paritosh Mishra</h5>
                                                                        <p class="text-black m-0 modalchatmessage">
                                                                            If several languages coalesce, the grammar of the resulting language.
                                                                        </p>
                                                                        <small class="text-muted mb-0 float-right modalchattimedate" style="font-size: 11px;">
                                                                            <span><i class="bx bx-calendar text-blue"></i></span>
                                                                            <span class="chattimedate">16-07-2020</span>
                                                                            <span>04:46 AM</span>
                                                                        </small>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </a>
                                                        <p class="text-muted mb-0 text-center font-italic" style="font-size: 10px; border-left: 1px solid #eff2f7; border-right: 1px solid #eff2f7;">
                                                            Parithosh open the chat form incoming messages
                                                        </p>
                                                        <a href="#">
                                                            <li class="list-group-item p-2">
                                                                <div class="media">
                                                                    <div class="avatar-xs mr-2">
                                                                        <span class="rounded-circle">
                                                                            <img src="~/Areas/Chat/assets/images/users/avatar-1.jpg" class="modalchatprofile shadow-sm" alt="Customer Profile">
                                                                        </span>
                                                                    </div>
                                                                    <div class="media-body">
                                                                        <h5 class="font-size-14">Paritosh Mishra</h5>
                                                                        <div class="modalmessageimg" data-toggle="modal" data-target="#chatmodalimage">
                                                                            <img src="~/Areas/Chat/assets/images/small/img-1.jpg">
                                                                        </div>
                                                                        <small class="text-muted mb-0 float-right modalchattimedate" style="font-size: 11px;">
                                                                            <span><i class="bx bx-calendar text-blue"></i></span>
                                                                            <span class="chattimedate">16-07-2020</span>
                                                                            <span>04:46 AM</span>
                                                                        </small>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="simplebar-placeholder" style="width: auto; height: 517px;"></div>
                                    </div>
                                    <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                                        <div class="simplebar-scrollbar" style="transform: translate3d(0px, 0px, 0px); display: none;"></div>
                                    </div>
                                    <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                                        <div class="simplebar-scrollbar" style="height: 294px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
                                    </div>
                                </ul>
                            </div>
                            <!-- End Modal Chat -->
                            <!-- Modal Textarea -->
                            <div class="modaltypebox p-2 bg-white my-shadow mt-2">
                                <form>
                                    <div class="form-group m-0">
                                        <div>
                                            <textarea required class="form-control" placeholder="Add Visitor Notes" rows="3"></textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- End Modal Textarea -->
                        </div>

                        <!-- Pastchat Table -->
                        <div class="pastchattable">
                            <div class="p-2 bg-white my-shadow">
                                <div class="pastchatbackbtn">
                                    <div class="form-group mb-0">
                                        <button type="button" id="pastchatbackbtn" class="btn btn-primary waves-effect waves-light">
                                            <i class="bx bx-arrow-back"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table id="datatable3" class="table mb-0 table-bordered">
                                        <thead>
                                            <tr class="thead-light">
                                                <th>ID</th>
                                                <th>Ref.</th>
                                                <th>PNR</th>
                                                <th>Amount</th>
                                                <th>Last Served</th>
                                                <th>URL</th>
                                                <th>Last Visit</th>
                                            </tr>
                                        </thead>
                                        <tbody class="pastchatbody">
                                            <tr data-toggle="modal" data-target="#pastchatmessage" class="pastchattr" title="click here to view past chat">
                                                <td>7235</td>
                                                <td>N/A</td>
                                                <td>N/A</td>
                                                <td>0</td>
                                                <td>Paritosh Mishra</td>
                                                <td>N/A</td>
                                                <td>16-7-2020</td>
                                            </tr>
                                            <tr data-toggle="modal" data-target="#pastchatmessage" class="pastchattr" title="click here to view past chat">
                                                <td>7235</td>
                                                <td>N/A</td>
                                                <td>N/A</td>
                                                <td>0</td>
                                                <td>Paritosh Mishra</td>
                                                <td>N/A</td>
                                                <td>16-7-2020</td>
                                            </tr>
                                            <tr data-toggle="modal" data-target="#pastchatmessage" class="pastchattr" title="click here to view past chat">
                                                <td>7235</td>
                                                <td>N/A</td>
                                                <td>N/A</td>
                                                <td>0</td>
                                                <td>Paritosh Mishra</td>
                                                <td>N/A</td>
                                                <td>16-7-2020</td>
                                            </tr>
                                            <tr data-toggle="modal" data-target="#pastchatmessage" class="pastchattr" title="click here to view past chat">
                                                <td>7235</td>
                                                <td>N/A</td>
                                                <td>N/A</td>
                                                <td>0</td>
                                                <td>Paritosh Mishra</td>
                                                <td>N/A</td>
                                                <td>16-7-2020</td>
                                            </tr>
                                            <tr data-toggle="modal" data-target="#pastchatmessage" class="pastchattr" title="click here to view past chat">
                                                <td>7235</td>
                                                <td>N/A</td>
                                                <td>N/A</td>
                                                <td>0</td>
                                                <td>Paritosh Mishra</td>
                                                <td>N/A</td>
                                                <td>16-7-2020</td>
                                            </tr>
                                            <tr data-toggle="modal" data-target="#pastchatmessage" class="pastchattr" title="click here to view past chat">
                                                <td>7235</td>
                                                <td>N/A</td>
                                                <td>N/A</td>
                                                <td>0</td>
                                                <td>Paritosh Mishra</td>
                                                <td>N/A</td>
                                                <td>16-7-2020</td>
                                            </tr>
                                            <tr data-toggle="modal" data-target="#pastchatmessage" class="pastchattr" title="click here to view past chat">
                                                <td>7235</td>
                                                <td>N/A</td>
                                                <td>N/A</td>
                                                <td>0</td>
                                                <td>Paritosh Mishra</td>
                                                <td>N/A</td>
                                                <td>16-7-2020</td>
                                            </tr>
                                            <tr data-toggle="modal" data-target="#pastchatmessage" class="pastchattr" title="click here to view past chat">
                                                <td>7235</td>
                                                <td>N/A</td>
                                                <td>N/A</td>
                                                <td>0</td>
                                                <td>Paritosh Mishra</td>
                                                <td>N/A</td>
                                                <td>16-7-2020</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- End Pastchat Table -->
                    </div>
                    <!-- End Left -->
                    <!-- Right -->
                    <div class="col-md-3 modalchatrightcol">
                        <div class="modalchatrightscroll">
                            <div class="modalcustomerchat p-2 bg-white my-shadow">
                                <form>
                                    <div class="row">
                                        <div class="col rightmodalprofile">
                                            <img src="~/Areas/Chat/assets/images/users/avatar-1.jpg" class="modalchatprofileright my-shadow" alt="Customer Profile">
                                        </div>
                                        <div class="col-9 modalchatrightcol">
                                            <div class="form-group modalformmb">
                                                <input type="text" class="form-control" value="Paritosh">
                                            </div>
                                            <div class="form-group modalformmb">
                                                <input type="text" class="form-control" value="Mishra">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group modalformmb">
                                                <input type="text" class="form-control" placeholder="Email Address">
                                            </div>
                                            <div class="form-group modalformmb">
                                                <input type="text" class="form-control" placeholder="Add Phone Number">
                                            </div>
                                            <div class="form-group modalformmb">
                                                <div>
                                                    <textarea required class="form-control" placeholder="Add Visitor Notes" rows="3"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group mb-0 float-right">
                                                <button type="submit" class="btn btn-primary waves-effect waves-light" style="padding: 5px 16px;">
                                                    Save
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt-2">
                                            <a href="#" id="pastchat">
                                                <div class="modalformdownbtns text-center text-black">
                                                    <h2 class="m-0">50</h2>
                                                    <p class="m-0">Past Chat</p>
                                                </div>
                                            </a>
                                            <a href="#">
                                                <div class="modalformdownbtns text-center text-black">
                                                    <h2 class="m-0">50</h2>
                                                    <p class="m-0">Converted</p>
                                                </div>
                                            </a>
                                            <a href="#">
                                                <div class="modalformdownbtns text-center text-black">
                                                    <h2 class="m-0">50</h2>
                                                    <p class="m-0">Markup</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modalcustomerchat p-2 bg-white my-shadow mt-2">
                                <h4 class="">Source</h4>
                                <p class="m-0 font-weight-500 ptext">
                                    <i class="bx bx-world text-blue"></i> Google
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Right -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Chat Modal -->
<!-- Past Chat Modal -->
<div class="modal fade exampleModal allmodaldesign incomingchatmodal mainmodalchatbody" id="pastchatmessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p>
                    <i class="bx bx-world text-success"></i>
                    <small>Visitor Paritosh Mishra from Facebook</small>
                </p>
                <button type="button" id="pastchatmodalclosebtn" class="close modalclose" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-2 modalchatbody">
                <div class="modalcustomerchat p-2 bg-white my-shadow">
                    <ul class="list-group" data-simplebar="init" style="max-height: 300px;">
                        <div class="simplebar-wrapper" style="margin: 0px;">
                            <div class="simplebar-height-auto-observer-wrapper">
                                <div class="simplebar-height-auto-observer"></div>
                            </div>
                            <div class="simplebar-mask">
                                <div class="simplebar-offset" style="right: -16.8px; bottom: 0px;">
                                    <div class="simplebar-content-wrapper" style="height: auto; overflow: hidden scroll;">
                                        <div class="simplebar-content" style="padding: 0px;">
                                            <a href="#">
                                                <li class="list-group-item p-2">
                                                    <div class="media">
                                                        <div class="avatar-xs mr-2">
                                                            <span class="rounded-circle">
                                                                <img src="~/Areas/Chat/assets/images/users/avatar-1.jpg" class="modalchatprofile shadow-sm" alt="Customer Profile">
                                                            </span>
                                                        </div>
                                                        <div class="media-body">
                                                            <h5 class="font-size-14">Paritosh Mishra</h5>
                                                            <p class="text-black m-0 modalchatmessage">
                                                                If several languages coalesce, the grammar of the resulting language.
                                                            </p>
                                                            <small class="text-muted mb-0 float-right modalchattimedate" style="font-size: 11px;">
                                                                <span><i class="bx bx-calendar text-blue"></i></span>
                                                                <span class="chattimedate">16-07-2020</span>
                                                                <span>04:46 AM</span>
                                                            </small>
                                                        </div>
                                                    </div>
                                                </li>
                                            </a>
                                            <p class="text-muted mb-0 text-center font-italic" style="font-size: 10px; border-left: 1px solid #eff2f7; border-right: 1px solid #eff2f7;">
                                                Parithosh open the chat form incoming messages
                                            </p>
                                            <a href="#">
                                                <li class="list-group-item p-2">
                                                    <div class="media">
                                                        <div class="avatar-xs mr-2">
                                                            <span class="rounded-circle">
                                                                <img src="~/Areas/Chat/assets/images/users/avatar-1.jpg" class="modalchatprofile shadow-sm" alt="Customer Profile">
                                                            </span>
                                                        </div>
                                                        <div class="media-body">
                                                            <h5 class="font-size-14">Paritosh Mishra</h5>
                                                            <p class="text-black m-0 modalchatmessage">
                                                                If several languages coalesce, the grammar of the resulting language.
                                                            </p>
                                                            <small class="text-muted mb-0 float-right modalchattimedate" style="font-size: 11px;">
                                                                <span><i class="bx bx-calendar text-blue"></i></span>
                                                                <span class="chattimedate">16-07-2020</span>
                                                                <span>04:46 AM</span>
                                                            </small>
                                                        </div>
                                                    </div>
                                                </li>
                                            </a>
                                            <p class="text-muted mb-0 text-center font-italic" style="font-size: 10px; border-left: 1px solid #eff2f7; border-right: 1px solid #eff2f7;">
                                                Parithosh open the chat form incoming messages
                                            </p>
                                            <a href="#">
                                                <li class="list-group-item p-2">
                                                    <div class="media">
                                                        <div class="avatar-xs mr-2">
                                                            <span class="rounded-circle">
                                                                <img src="~/Areas/Chat/assets/images/users/avatar-1.jpg" class="modalchatprofile shadow-sm" alt="Customer Profile">
                                                            </span>
                                                        </div>
                                                        <div class="media-body">
                                                            <h5 class="font-size-14">Paritosh Mishra</h5>
                                                            <p class="text-black m-0 modalchatmessage">
                                                                If several languages coalesce, the grammar of the resulting language.
                                                            </p>
                                                            <small class="text-muted mb-0 float-right modalchattimedate" style="font-size: 11px;">
                                                                <span><i class="bx bx-calendar text-blue"></i></span>
                                                                <span class="chattimedate">16-07-2020</span>
                                                                <span>04:46 AM</span>
                                                            </small>
                                                        </div>
                                                    </div>
                                                </li>
                                            </a>
                                            <p class="text-muted mb-0 text-center font-italic" style="font-size: 10px; border-left: 1px solid #eff2f7; border-right: 1px solid #eff2f7;">
                                                Parithosh open the chat form incoming messages
                                            </p>
                                            <a href="#">
                                                <li class="list-group-item p-2">
                                                    <div class="media">
                                                        <div class="avatar-xs mr-2">
                                                            <span class="rounded-circle">
                                                                <img src="~/Areas/Chat/assets/images/users/avatar-1.jpg" class="modalchatprofile shadow-sm" alt="Customer Profile">
                                                            </span>
                                                        </div>
                                                        <div class="media-body">
                                                            <h5 class="font-size-14">Paritosh Mishra</h5>
                                                            <p class="text-black m-0 modalchatmessage">
                                                                If several languages coalesce, the grammar of the resulting language.
                                                            </p>
                                                            <small class="text-muted mb-0 float-right modalchattimedate" style="font-size: 11px;">
                                                                <span><i class="bx bx-calendar text-blue"></i></span>
                                                                <span class="chattimedate">16-07-2020</span>
                                                                <span>04:46 AM</span>
                                                            </small>
                                                        </div>
                                                    </div>
                                                </li>
                                            </a>
                                            <p class="text-muted mb-0 text-center font-italic" style="font-size: 10px; border-left: 1px solid #eff2f7; border-right: 1px solid #eff2f7;">
                                                Parithosh open the chat form incoming messages
                                            </p>
                                            <a href="#">
                                                <li class="list-group-item p-2">
                                                    <div class="media">
                                                        <div class="avatar-xs mr-2">
                                                            <span class="rounded-circle">
                                                                <img src="~/Areas/Chat/assets/images/users/avatar-1.jpg" class="modalchatprofile shadow-sm" alt="Customer Profile">
                                                            </span>
                                                        </div>
                                                        <div class="media-body">
                                                            <h5 class="font-size-14">Paritosh Mishra</h5>
                                                            <p class="text-black m-0 modalchatmessage">
                                                                If several languages coalesce, the grammar of the resulting language.
                                                            </p>
                                                            <small class="text-muted mb-0 float-right modalchattimedate" style="font-size: 11px;">
                                                                <span><i class="bx bx-calendar text-blue"></i></span>
                                                                <span class="chattimedate">16-07-2020</span>
                                                                <span>04:46 AM</span>
                                                            </small>
                                                        </div>
                                                    </div>
                                                </li>
                                            </a>
                                            <p class="text-muted mb-0 text-center font-italic" style="font-size: 10px; border-left: 1px solid #eff2f7; border-right: 1px solid #eff2f7;">
                                                Parithosh open the chat form incoming messages
                                            </p>
                                            <a href="#">
                                                <li class="list-group-item p-2">
                                                    <div class="media">
                                                        <div class="avatar-xs mr-2">
                                                            <span class="rounded-circle">
                                                                <img src="~/Areas/Chat/assets/images/users/avatar-1.jpg" class="modalchatprofile shadow-sm" alt="Customer Profile">
                                                            </span>
                                                        </div>
                                                        <div class="media-body">
                                                            <h5 class="font-size-14">Paritosh Mishra</h5>
                                                            <div class="modalmessageimg" data-toggle="modal" data-target="#chatmodalimage">
                                                                <img src="~/Areas/Chat/assets/images/small/img-1.jpg">
                                                            </div>
                                                            <small class="text-muted mb-0 float-right modalchattimedate" style="font-size: 11px;">
                                                                <span><i class="bx bx-calendar text-blue"></i></span>
                                                                <span class="chattimedate">16-07-2020</span>
                                                                <span>04:46 AM</span>
                                                            </small>
                                                        </div>
                                                    </div>
                                                </li>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="simplebar-placeholder" style="width: auto; height: 517px;"></div>
                        </div>
                        <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                            <div class="simplebar-scrollbar" style="transform: translate3d(0px, 0px, 0px); display: none;"></div>
                        </div>
                        <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                            <div class="simplebar-scrollbar" style="height: 294px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Past Chat Modal -->
<!-- Image Modal -->
<div class="modal fade exampleModal allmodaldesign mainmodalchatbody" id="chatmodalimage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p>
                    <i class="bx bx-world text-success"></i>
                    <small>Visitor Paritosh Mishra from Facebook</small>
                </p>
                <button type="button" class="close modalclose" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-2 modalchatbody">
                <div class="mainmodalchatimg bg-white p-2 my-shadow">
                    <div class="modalchatimg">
                        <img src="~/Areas/Chat/assets/images/small/img-1.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Image Modal -->
<!-- End Modal -->