 <!-- Left Sidebar -->
<div class="vertical-menu">
    <div data-simplebar class="h-100">
        <div id="sidebar-menu">
            <ul class="metismenu list-unstyled" id="side-menu">
                <li>
                    <div class="row" style="padding:0px 20px; border-bottom:1px solid #323232; padding: 10px 20px 15px 20px;">
                        <div class="col-3">
                            <img class="rounded-circle header-profile-user" src="~/Areas/Chat/assets/images/users/avatar.jpg" alt="Profile Picture">
                        </div>
                        <div class="col-9 pl-0">
                            <h6 class="text-white m-0">Paritosh Mishra</h6>
                            <small class="text-white">
                                <i class="bx bxs-circle" style="color:#28a745;"></i> Online
                            </small>
                        </div>
                    </div>
                </li>
                <li class="menu-title">Menu</li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bxs-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="#">Conversation Summary</a></li>
                        <li><a href="#">Agent Productivity</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="bx bx-user-plus"></i>
                        <span>Visitors</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="bx bx-history"></i>
                        <span>History</span>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-cog"></i>
                        <span>Setting</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="#">Shortcuts</a></li>
                        <li><a href="#">Users</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="bx bx-code-alt"></i>
                        <span>Developers</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="bx bx-group"></i>
                        <span>Team</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="bx bx-log-out-circle"></i>
                        <span>Log Out</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- End Left Sidebar -->
